<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#{siteData.appTitle}</title>
  include _style
</head>
<body>
  <h1>#{siteData.appTitle}</h1>
  include _nav
  <p>These are our current books:</p>
  <div class="books">
    each book in siteData.books
      <img src="https://edwardtanguay.vercel.app/share/images/techBooks/#{book.idCode}.jpg"/>
  </div>
</body>
</html>
