<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#{siteData.appTitle}</title>
  include _style
</head>
<body>
  <h1>#{siteData.appTitle}</h1>
  include _nav
  <p>go back<a href="/"> home</a></p>
</body>
</html>
