body {
  background-color: #333;
  color: #ccc;
  padding: 0 1rem;
  font-family: sans-serif;

  a {
    color: rgb(213, 179, 66);
  }

  nav {
    background-color: #222;
    display: flex;
    gap: 1rem;
    padding: 0.7rem;
    border-radius: 0.4rem;

    a {
      color: #ccc;
      text-decoration: none;
    }
    a.active {
      color: rgb(228, 228, 109);
    }
  }
}
